*,
::before,
::after {
  --white: #ffffff;
  --black: #000000;
  --primary-dark: #303330;
  --primary-green: #649120;
  --primary-green-100: #DEE7D3;
  --primary-green-50: #FBFFFB;
  --secondary-green: #173637;
  --secondary-light: #296062;
  --gray: #757975;
  --gray-50: #C6CAC5;
  --gray-100: #5D625D;
  --gray-200: #4C4E4D;
  --red: #B3261E;
}